<html>

<head>
  <title>Angular 2 QuickStart</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">

  <!-- 1. Load libraries -->
  <!-- Polyfill(s) for older browsers -->
  <script src="node_modules/es6-shim/es6-shim.min.js"></script>

  <script src="node_modules/zone.js/dist/zone.js"></script>
  <script src="node_modules/reflect-metadata/Reflect.js"></script>
  <script src="node_modules/systemjs/dist/system.src.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')
  </script>

  <!-- 2. Configure SystemJS -->
  <script src="systemjs.config.js"></script>
  <script>
    System.import('app').catch(function (err) { console.error(err); });
  </script>
</head>

<!-- 3. Display the application -->

<body>
  <my-app>Loading...</my-app>

  <script>
    var something = function () {
      var root = 'https://jsonplaceholder.typicode.com';

      $.ajax({
        url: root + '/users',
        method: 'GET'
      }).then(function (data) {
        console.log(data);
      });



    }
  </script>
  <input type="button" onclick="something()" value="clickME"> </input>

</body>


</html>